*.egg
*.egg-info
*.log
*.mo
*.pot
*.py[cod]
*.so
*.sublime*
.cache
.coverage
.DS_Store
.idea/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.Python
.python-version
.ropeproject
.tox
.webassets-cache
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
.eggs/
eggs/
env/
htmlcov/
lib/
lib64/
local_settings.*
nosetests.xml
output/*.html
output/*/index.html
packed.css
plugin_css*.css
plugin_js*.js
packed.js
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
static/out
var
var/
venv
