bz2file==0.98
click==3.3
Flask-Assets==0.10
Flask-Login==0.2.11
flask-mongoengine==0.7.1
Flask==0.10.1
gunicorn==19.1.1
honcho==0.5.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mongoengine==0.8.7
prettytable==0.7.2
pymongo==2.7.2
python-social-auth==0.2.1
requests==2.4.3
six==1.8.0
ujson>=1.33
webassets==0.10.1
Werkzeug==0.9.6
wheel==0.23.0
wsgiref==0.1.2
yuicompressor==2.4.8
