blinker==1.4
bz2file==0.98
click==6.6
Flask-Assets==0.12
Flask-Collect==1.3.2
Flask-Login==0.4.0
flask-mongoengine==0.8.2
Flask==0.12
gunicorn==19.4.5
honcho>=0.5.0
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
mongomock>=3.0.0,<4.0.0
python-social-auth>=0.2.5,<0.3.0
Sphinx==1.5.1
ujson>=1.35
veryprettytable==0.8.1
webassets==0.12.0
Werkzeug==0.11.13
wheel==0.29.0
yuicompressor==2.4.8
Flask-Script==2.0.5
pyexecjs>=1.4.0,<2.0.0
