.text-core .text-wrap textarea,
.text-core .text-wrap input {
    font-size: 17px;
    line-height: 37px;
}

.text-core .text-wrap .text-arrow {
    top: 12px;
    background-image: url('../images/arrow.png');
}

.text-core .text-wrap .text-dropdown {
    max-height: 200px;
}

.text-core .text-wrap .text-prompt {
    font: 17px "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 32px;
}

.text-core .text-wrap .text-tags .text-tag .text-button {
    padding-right: 20px;
    height: 38px;
    font-size: 17px;
    line-height: 33px;
}

.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
    top: 12px;
    background-image: url('../images/close.png');
}
