<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ config.SITE_NAME }}</title>
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% block extra_css %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {% if not init %}
                    <div id="public-homepage">
                        <div id="warm-welcome" class="cover inner">
                            Site is still uninitialized. Please run <code>./manage.py init ...</code>
                        </div>
                    </div>
                {% elif user.is_anonymous() %}
                    {% if config.SITE_IS_CLOSED %}
                        {% include '_holding_page.html' %}
                    {% else %}
                    <div id="public-homepage">
                        <div id="warm-welcome" class="cover inner">
                            <h3>Вас вітає Канцелярська сотня.</h3>
<p>Сайт <a href="http://sotnya.org.ua">sotnya.org.ua</a>, це місце спільної роботи волонтерів над масштабними проектами, які складаються з невеличких зусиль кожного. Сьогодні Канцелярська сотня займається розшифровкою та переведенням у електронну форму декларацій чиновників, депутатів, правоохоронців та інших державних службовців.</p>
<p>Після входу на сайт (кнопка Фейсбук справа), система запропонує вам скачати декларацію про доходи, та внести дані з неї у спеціально розроблену форму.</p>
<p>Зробіть це будь-ласка. Ви вкладетесь у максимум 15 хвилин часу. А ваша робота дозволить нам зробити автоматичний аналіз даних.</p>
<p>Якщо у вас є більше часу - система із задоволенням надасть вам ще одну декларацію. І ще. І ще. Ми будемо щасливі, якщо ви заповните кілька десятків, адже цього року чиновники мають оприлюднити майже мільйон декларацій.</p>
<p>Результати роз шифровки відкрито доступні на сайті <a href="http://declarations.com.ua">declarations.com.ua</a>.</p>
                        </div>

                        <ul id="signin">
                            {% if config.SOCIAL_AUTH_FACEBOOK_KEY %}
                            <li><a class="facebook" href="{{ url_for('social.auth', backend='facebook') }}" title="Facebook">Facebook</a></li>
                            {% endif %}
                            {% if config.SOCIAL_AUTH_TWITTER_KEY %}
                            <li><a class="twitter" href="{{ url_for('social.auth', backend='twitter') }}" title="Twitter">Twitter</a></li>
                            {% endif %}
                            {% if config.SOCIAL_AUTH_GOOGLE_OAUTH2_KEY %}
                            <li><a class="googleplus" href="{{ url_for('social.auth', backend='google-oauth2') }}" title="Google+/Gmail">Google+/Gmail</a></li>
                            {% endif %}
                            {% if config.SOCIAL_AUTH_VK_OAUTH2_KEY %}
                            <li><a class="vkontakte" href="{{ url_for('social.auth', backend='vk-oauth2') }}" title="VK.com">VK.com</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="masthead clearfix">
                        <div class="inner fixed-header clearfix">
                            <img id="logo" src="/static/images/logo.png" alt="Канцелярская сотня представляет!" width="45" height="45" />
                            <h3 class="masthead-brand">{{ config.SITE_MOTTO }}</h3>
                            <ul class="nav masthead-nav">
                                {% block nav %}
                                {% endblock %}
                                {% if user.is_authenticated() %}
                                <li><form action="{{ url_for('logout') }}" method="post"><input type="submit" value="Logout"></form></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% block content %}
                    {% endblock %}
                    <script type="text/javascript">
                        window.user = '{{ user.username }}';
                        window.urls = {
                            "next": "{{ url_for('next', type_name='dummy') }}"
                        }
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block extra_js %}
    {% endblock %}
    {% if config.GA %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ config.GA }}', 'auto');
          ga('send', 'pageview');

        </script>    
    {% endif %}
    </body>
</html>
