{% extends "base.html" %}
{% block nav %}
    <li class="active">
        <a href="#tag_hints" class="popup-with-zoom-anim">Инструкция (F1)</a>
    </li>
{% endblock %}
{% block content %}
    {% if config.SITE_IS_CLOSED and not user.is_admin() %}
        {% include '_holding_page.html' %}
    {% else %}
        <div class="inner cover">
            {% block task %}
            <ul id="task-list">
                {% for t in task_types %}
                    <li><a href="{{ url_for("task_home", type_name=t) }}">{{ t }}</a></li>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    {% endif %}

    <div class="zoom-anim-dialog mfp-hide small-dialog" id="tag_hints">
        <div class="dialog-content">
            {% block helptext %}
            <h3>Инструкция по работе</h3>

            <p>
                Привет.
            </p>

            <p>
                Ще не вмерла Україна, И слава, и воля! Ще намъ,
                браття-молодці, Усміхнеться доля! Згинуть наші вороги, Якъ роса
                на сонці; Запануємъ, браття й ми: У своїй сторонці. Душу, тіло
                ми положимъ: За свою свободу: И покажемъ, що ми браття:
                Козацького роду. Гей-гей, браття миле, Нумо братися за діло!
                Гей-гей пора встати, Пора волю добувати! Наливайко, Залізнякъ: И
                Тарас Трясило: Кличуть насъ изъ-за могилъ: На святеє діло.
                Изгадаймо славну смерть: Лицарства-козацтва, Щобъ не втратить
                марне намъ: Своєго юнацтва. Душу, тіло ми пложимъ: За свою
                свободу: И покажемъ, що ми браття: Козацького роду. Гей-гей,
                браття миле, Нумо братися за діло! Гей-гей пора встати, Пора
                волю добувати! Ой Богдане, Богдане: Славний нашъ гетьмане! На-що
                віддавъ Украіну: Москалям поганимъ?! Щобъ вернути іі честь,
                Ляжемъ головами, Назовемся Украіни: Вірними синами! Душу, тіло
                ми пложимъ: За свою свободу: И покажемъ, що ми браття:
                Козацького роду. Гей-гей, браття миле, Нумо братися за діло!
                Гей-гей пора встати, Пора волю добувати! Наші браття Славяне:
                Вже за зброю взялись; Не діжде ніхто, щобъ ми: По-заду
                зістались. Поєднаймось разомъ всі, Братчики-Славяне: Нехай
                гинуть вороги, Най воля настане! Душу, тіло ми пложимъ: За свою
                свободу: И покажемъ, що ми браття: Козацького роду. Гей-гей,
                браття миле, Нумо братися за діло! Гей-гей пора встати, Пора
                волю добувати!
            </p>
            {% endblock %}
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
{% endblock %}
