{% extends "index.html" %}
{% block task %}
    <div class="clearfix" id="user-stats">
        <dl>
            <dt>Обработал всего:</dt>
            <dd></dd>
            <dt>Рейтинг:</dt>
            <dd></dd>
        </dl>
    </div>
    <div id="current_task" data-type="{{ task_type.type_name }}">
        {% include task_type.type_name + "/" + task_type.template %}

        <a class="btn btn-lg btn-default" id="save-button" href="#">Надіслати форму <!--small>(alt+enter)</small--></a>
        <a class="btn" id="skip-button" href="#">Пропустити завдання <!--small>(esc)</small--></a>
    </div>
{% endblock task %}


{% block extra_js %}
    {% assets "plugin_js_" + task_type.type_name %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block extra_css %}
    {% assets "plugin_css_" + task_type.type_name %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}


{% block helptext %}
    {% if task_type.helptext_template %}
        {% include task_type.type_name + "/" + task_type.helptext_template %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}